<div class="modal fade" id="addModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
{#            <button type="button" class="close" data-dismiss="modal">&times;</button>#}
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>

            </div>
            <div class="modal-body">
                {{ wtf.quick_form(add_form) }}

            </div>
        </div>
    </div>
</div>






